In [1]:
100 + 200

300

# 파이썬 기초문법
- Jupyter Notebook 사용법
- Markdown 기능 : 파이썬 문법이 아닌 설몀이나 주석을 작성하는 모드

- 변수 : 데이터를 들고다니는 공간
- 변수를 선언한다 : 오른쪽의 값을 등호기호(+)를 기준으로 왼쪽의 사용자가 지정한 이름으로 선언(지정)한다

In [2]:
data1 = 100.2375
data2 = 51.2

In [3]:
data1

100.2375

In [4]:
data1 + data2

151.4375

- 파이썬 데이터 타입 : 숫자형 / 문자형 / 논리형
- 숫자형 : 정수형(파이썬 표현 : int) / 실수형(파이썬 표현 : float)
- 문자형 : 문자열(파이썬 표현 : str -> 따옴표 또는 쌍따옴표를 이용해서 사용)
- 논리형 : 참(True)/거짓(False)(파이썬 표현 : bool -> 첫 글자를 대문자로 사용)
- 파이썬은 대소문자를 구분
- type() : 특정 변수 안에 있는 데이터의 타입을 확인하는 기능

In [5]:
type(data1)

float

In [6]:
data3 = "파이썬 데이터 분석"

In [7]:
data3

'파이썬 데이터 분석'

In [8]:
type(data3)

str

In [9]:
True

True

In [10]:
False

False

In [11]:
type(True)

bool

- 파이썬 연산자 (Operator)
- 데이터 타입에 따라 연산의 방법이 달라진다!
- 셀(Cell) 내에서 코드에 대한 설명을 사용할 때는 # 기호를 활용

In [12]:
data1 + data2

151.4375

In [13]:
data1 - data2

49.037499999999994

In [14]:
data1 * data2

5132.16

In [15]:
data1 / data2

1.9577636718749998

In [16]:
data1 ** 2

10047.55640625

In [17]:
# 문자 데이터 연산
data4 = 'Python 데이터'
data5 = '분석'

In [18]:
data4 + data5 # 두 개의 문자열을 이어붙여 쓴다.

'Python 데이터분석'

In [19]:
data5 * 3 # 문자를 중복하여 이어붙여 쓴다.

'분석분석분석'

In [20]:
# 논리형 연산 (비교구분)
data6 = 50
data7 = 90

In [21]:
data6 < data7 # 'data6보다 data7이 크다'의 문장이 참/거짓인가 판단

True

In [22]:
data6 > data7

False

In [23]:
data6 <= data7 # data6보다 data7이 크거나 같다.

True

In [24]:
data6 >= data7

False

In [25]:
data6 == data7 # 두 숫자데이터가 같다.

False

In [26]:
data6 != data7 # 두 숫자 데이터가 다르다. (!= not equal)

True

# 파이썬 자료구조

- 하나의 변수에 여러 개의 데이터를 들고다니고 싶을 때 데이터를 들고다닐 수 있는 다양한 형태의 상자

- List 리스트(대괄호 사용) : 데이터의 순서 존재

In [27]:
# 리스트(List) : 자료 구조
data8 = [20, 30, 50, 10, 90, 30]

In [28]:
data8

[20, 30, 50, 10, 90, 30]

In [29]:
data8.append(150) # 기존의 data8 리스트 맨 끝에 새로운 150 숫자데이터를 추가

In [30]:
data8

[20, 30, 50, 10, 90, 30, 150]

In [31]:
data8.remove(90) # data8 리스트 내에 있는 90이라는 데이터를 제거

In [32]:
data8

[20, 30, 50, 10, 30, 150]

- Tuple 튜플(소괄호 사용) : 데이터의 순서 존재 / 중복 허용 / 데이터 추가, 삭제, 변경하는 것이 불가능

In [33]:
data9 = (100, 100, 40, 20, 50)
data9

(100, 100, 40, 20, 50)

In [34]:
type(data9)

tuple

- Set 셋(집합)(중괄호 사용) : 데이터의 순서 X / 중복 불가능 / 데이터 추가, 삭제, 변경하는 것은 가능 / 집합연산 가능(교집합, 합집합, 차집합, ...)

In [35]:
data10 = {30, 20, 100, 50, 20, 20, 20, 20}
data10

{20, 30, 50, 100}

In [36]:
type(data10)

set

In [37]:
data11 = {20, 30, 40, 50, 60}
data12 = {50, 60, 70, 80}

In [38]:
data11 & data12 # 두 집합의 교집합 확인(교집합 연산)

{50, 60}

In [39]:
data11 | data12 # 두 집합의 합집합 확인(합집합 연산)

{20, 30, 40, 50, 60, 70, 80}

In [40]:
data11 - data12 # 두 집합의 차집합 확인(차집합 연산)

{20, 30, 40}

In [41]:
data11 ^ data12 # 대상차집합 연산을 수행(교집합을 제외한 나머지)

{20, 30, 40, 70, 80}

- Dictionary 딕셔너리(사전) (중괄호 - 키:값 쌍으로 구성)

In [42]:
data13 = {'이름' : '홍길동', '나이' : 30, '지역' : '서울'}
data13

{'이름': '홍길동', '나이': 30, '지역': '서울'}

In [43]:
type(data13)

dict

In [44]:
data13['나이'] # 해당 딕셔너리의 키를 가져오면, 해당 값이 출력되는 형태

30

In [45]:
data13['이름']

'홍길동'

- 대괄호 : 여러 개의 데이터를 담을 때 -> 리스트 형태
- 여러 데이터를 이미 가지고 있는 특정 변수 뒤에 바로 대괄호가 등장할 때 -> 데이터를 찾는 형태로 사용(indexing, 색인)

# 파이썬 구문 (Statement)
- 특정 코드를 반복하거나, 특정 조건에 대해 원하는 코드가 실행될 수 있도록 구성
- 조건문 : 특정 조건에 대해 코드가 실행될 수 있도록 구성
- 반복문 : 특정 범위나 함수에 대해 코드를 반복 수행할 수 있도록 구성

In [46]:
# 조건문 (if)
data14 = 200

if data14 >= 100: # 해당 조건을 만족하면 바로 아래 종속의 문장을 수행
    print('해당 데이터는 100보다 큽니다.')
    # 들여쓰기 : tab 키나 space bar 키를 이용해 공백을 주어 문장의 종속관계를 표현
else: # 위의 모든 조건이 맞지 않을 경우 아래 종속된 문장을 수행
    print('해당 데이터는 100보다 작습니다.')

해당 데이터는 100보다 큽니다.

In [47]:
# 여러 조건을 걸어, 해당 조건에 맞는 코드를 수행할 때
data15 = 98

if data15 >= 90:
    print('A')
elif data >= 80:
    print('B')
elif data >= 70:
    print('C')
else:
    print('D')

A

In [48]:
# 반복문 (While, ** For **)
# range(n, m) : 특정 범위의 정수를 출력하는 기능(n번째부터 m번째 이전까지의 수를 출력)
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [49]:
for i in [100, 200, 300]:
    print(i)

100
200
300

In [50]:
for j in range(1, 6):
    print('Hi')

Hi
Hi
Hi
Hi
Hi

In [51]:
for k in data11:
    print(k)

50
20
40
60
30

In [52]:
# 특정 리스트 안에 있는 모든 숫자데이터의 합을 게산하는 코드를 구성
data16 = [100, 200, 500, 300, 50]
answer = 0
for i in data16:
    answer += i
print(answer)

1150

In [53]:
sum(data16)

1150

In [54]:
# 함수를 생성
def func1(x):
    return x + 100

In [55]:
func1(200)

300

In [56]:
def func2(x):
    if x >= 90:
        return 'A'
    elif x >= 80:
        return 'B'
    elif x >= 70:
        return 'C'
    else:
        return 'D'

In [57]:
func2(100)

'A'

In [58]:
func2(50)

'D'

# 라이브러리

- 라이브러리 : 특정 프로그래밍의 목적을 달성하기 위한 함수들의 집합체
- 데이터 분석(정형 데이터)을 위한 라이브러리 종류

- Numpy (Numeric + Python) : 과학/수학/통계연산과 관련한 함수들의 집합
- Pandas (Panel + Dataset) : 정형데이터(Excel, CSV, SQL, ...)를 처리/분석/통계연산 함수들의 집합
- Matplotlib (Matlab + Plot + Library) : 연속형 자료들의 그래프 시각화 함수들의 집합
- Seaborn : 정형데이터에 통계적 연산 및 시각화
- Plotly : 정형데이터의 시각화 함수들의 집합(동적 시각화)
- Scipy (Science + Python) : 응용통계(가설검정 / 회귀 분석 / 시계열 분석) 함수들의 집합
- Scikit learn (Science + Python + Tool Kit + Learning) : 정형데이터에서 기계학습(Machine Learning) 함수들의 집합
- Tensorflow (Tensor + Flow) : 다차원의 비정형데이터(이미지, 소리, 신호) 처리, 신경망 알고리즘에 대한 함수들의 집합 (1 Scalar / 2 Vector / 3 Matrix / 4 Tensor)

In [59]:
# 라이브러리를 해당 스크립트로 호출
import pandas as pd

In [60]:
# 데이터 불러오기 (read_csv : csv 파일을 불러옴)
df1 = pd.read_csv('01_Data.csv')
# FileNotFoundError : 해당 파일이 존재하지 않음 -> 파일명 확인 / 파일 위치 확인
# Syntax Error : 들여쓰기 / 띄어쓰기 오류 -> 함수명 확인 / 특수기호 / 띄어쓰기 확인

In [61]:
# 데이터의 순서 index
df1.index
# 함수에서 소괄호를 사용하지 않는 경우 -> 데이터의 구조를 확인하는 경우

RangeIndex(start=0, stop=51301, step=1)

In [62]:
# 데이터의 항목 Column
df1.columns

Index(['Index', 'Member_ID', 'Sales_Type', 'Contract_Type', 'Channel',
       'Datetime', 'Term', 'Payment_Type', 'Product_Type', 'Amount_Month',
       'Customer_Type', 'Age', 'Address1', 'Address2', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Credit_Rank', 'Bank'],
      dtype='object')

In [63]:
# 뗴이터의 구조와 타입을 확인
df1.info()
# 결측값 (Missing Value) : 데이터의 공백 / Null, None, Nan, ...
# Non-Null Count : 결측값이 아닌, 존재하는 데이터의 개수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

# 데이터 전처리

- 데이터 핸들링 기법
    - 데이터 추출 (행단위 / 열단위)
    - 데이터 정렬
    - 데이터 필터
    - 데이터 요약 (Pivot)
    - 날짜 데이터 처리
    - 피해 변수 : 기존에 있는 데이터 항목을 이용해 새로운 정책을 만드는 것
    - 데이터 재구조화 / 병합

In [64]:
# 데이터 추출 (행단위)
df1.head() # head() : 상위 n개의 데이터를 추출할 때 사용 (기본값 5개)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

In [65]:
df1.tail() # tail() : 하위 n개의 데이터를 추출

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [66]:
# 특정 범위의 데이터를 확인할 때
# iloc[n:m] : n번째부터 m번째 이전까지의 데이터를 추출
df1.iloc[50:100]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
50,51,66758548,렌탈,일반계약,영업방판,2019-03-31,60,CMS,DES-1,96900,개인,57.0,서울특별시,서울특별시,계약확정,0,없음,남자,4.0,국민은행
51,52,66758162,렌탈,패키지계약,홈쇼핑/방송,2019-10-03,60,카드이체,DES-1,98400,개인,50.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,국민카드
52,53,66758162,렌탈,패키지계약,홈쇼핑/방송,2019-05-04,60,카드이체,DES-2,80400,개인,50.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,국민카드
53,54,66590304,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-2,90900,개인,43.0,서울특별시,서울특별시,계약확정,0,없음,남자,4.0,신한은행
54,55,66670488,렌탈,프로모션계약,영업방판,2019-04-03,60,CMS,DES-1,96900,개인,34.0,서울특별시,서울특별시,계약확정,0,없음,여자,4.0,우리은행
55,56,25856039,렌탈,교체계약,영업방판,2019-05-01,60,CMS,DES-1,96900,사업자,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,농협중앙회
56,57,25869517,렌탈,프로모션계약,영업방판,2019-07-22,60,가상계좌,DES-1,96900,사업자,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
57,58,66757967,렌탈,프로모션계약,영업방판,2019-08-21,60,카드이체,DES-1,105900,개인,37.0,경상도,경상도,계약확정,0,없음,여자,5.0,롯데카드
58,59,66260467,렌탈,교체계약,영업방판,2019-02-16,60,CMS,DES-1,96900,개인,42.0,경상도,경상도,계약확정,0,없음,여자,1.0,우리은행
59,60,66758899,렌탈,패키지계약,전문매장H,2019-07-30,60,CMS,DES-1,81900,개인,67.0,경상도,경상도,계약확정,0,없음,남자,2.0,대구은행
60,61,66758899,렌탈,패키지계약,전문매장H,2020-01-22,60,CMS,DES-2,81900,개인,67.0,경상도,경상도,계약확정,0,없음,남자,2.0,대구은행
61,62,66758851,렌탈,일반계약,영업방판,2019-01-04,60,CMS,DES-R4,126900,개인,27.0,경기도,인천광역시,계약확정,12,있음,남자,5.0,농협중앙회
62,63,66757441,렌탈,프로모션계약,영업방판,2019-01-31,60,CMS,DES-3A,90900,개인,55.0,경기도,인천광역시,계약확정,0,없음,남자,7.0,농협회원조합
63,64,66758704,렌탈,프로모션계약,대형마트H,2019-03-09,60,CMS,DES-1,96900,개인,38.0,경기도,인천광역시,계약확정,0,없음,남자,6.0,우리은행
64,65,66420963,멤버십,멤버십3유형,재계약,2019-04-29,12,CMS,DES-1,66900,개인,61.0,경기도,인천광역시,계약확정,0,없음,여자,NaN,국민은행
65,66,66758888,렌탈,프로모션계약,대형마트E,2019-06-30,60,CMS,DES-1,105900,개인,34.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
66,67,66754426,렌탈,프로모션계약,홈쇼핑/방송,2019-10-02,60,CMS,DES-1,105900,개인,55.0,경기도,경기도,계약확정,0,없음,여자,2.0,국민은행
67,68,66758803,렌탈,프로모션계약,대형마트E,2020-03-23,60,CMS,DES-1,105900,개인,41.0,경기도,경기도,계약확정,0,없음,여자,9.0,국민은행
68,69,66758803,렌탈,프로모션계약,대형마트E,2020-06-29,36,CMS,DES-2,96900,개인,41.0,경기도,경기도,계약확정,0,없음,여자,9.0,국민은행
69,70,66755965,렌탈,일반계약,영업방판,2020-07-29,60,CMS,DES-1,96900,개인,41.0,경기도,경기도,계약확정,0,없음,여자,9.0,국민은행
70,71,66316787,렌탈,프로모션계약,홈쇼핑/방송,2019-01-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,남자,2.0,국민은행
71,72,66758653,렌탈,패키지계약,홈쇼핑/방송,2019-02-25,60,CMS,DES-1,81900,개인,69.0,경기도,경기도,계약확정,0,없음,여자,3.0,하나은행
72,73,66758653,렌탈,패키지계약,홈쇼핑/방송,2019-05-08,60,CMS,DES-2,81900,개인,69.0,경기도,경기도,계약확정,0,없음,여자,3.0,하나은행
73,74,66388766,렌탈,교체계약,영업방판,2019-07-13,60,카드이체,DES-1,96900,개인,36.0,경기도,경기도,계약확정,0,없음,남자,NaN,롯데카드
74,75,66750147,렌탈,일반계약,홈쇼핑/인터넷,2019-05-29,60,CMS,DES-1,96900,개인,56.0,경기도,경기도,계약확정,0,없음,여자,1.0,신한은행
75,76,66426523,렌탈,프로모션계약,영업방판,2019-01-01,60,카드이체,DES-3A,90900,개인,51.0,경기도,경기도,계약확정,0,없음,남자,6.0,롯데카드
76,77,66758873,렌탈,패키지계약,홈쇼핑/방송,2019-05-27,60,CMS,DES-1,81900,개인,68.0,경기도,경기도,계약확정,0,없음,남자,3.0,우리은행
77,78,66758873,렌탈,패키지계약,홈쇼핑/방송,2019-05-27,60,CMS,DES-2,81900,개인,68.0,경기도,경기도,계약확정,0,없음,남자,3.0,우리은행
78,79,25742711,렌탈,프로모션계약,영업방판,2019-06-11,60,CMS,DES-1,124200,사업자,60.0,경기도,경기도,계약확정,0,없음,여자,NaN,신한은행
79,80,66422805,렌탈,교체계약,영업방판,2019-06-30,60,CMS,DES-1,102900,개인,56.0,경기도,경기도,계약확정,0,없음,여자,2.0,신한은행
80,81,66543103,렌탈,교체계약,영업방판,2019-09-12,60,CMS,DES-1,102900,개인,43.0,경기도,경기도,계약확정,0,없음,남자,1.0,국민은행
81,82,66144881,렌탈,교체계약,영업방판,2019-01-03,60,CMS,DES-1,96900,개인,51.0,경기도,경기도,계약확정,0,없음,남자,3.0,농협중앙회
82,83,66747865,렌탈,프로모션계약,홈쇼핑/방송,2019-01-03,60,카드이체,DES-1,105900,개인,56.0,경기도,경기도,계약확정,1,있음,남자,1.0,국민카드
83,84,25742708,렌탈,프로모션계약,영업방판,2019-01-15,60,CMS,DES-1,124200,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
84,85,25742708,렌탈,일반계약,영업방판,2019-08-21,60,CMS,DES-3A,102900,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
85,86,25742710,렌탈,프로모션계약,영업방판,2019-09-10,60,CMS,DES-1,124200,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
86,87,25742710,렌탈,일반계약,영업방판,2019-12-25,60,CMS,DES-3A,102900,사업자,56.0,경기도,경기도,계약확정,0,없음,여자,NaN,우리은행
87,88,66758514,렌탈,일반계약,영업방판,2020-01-15,60,카드이체,DES-1,124200,개인,60.0,경기도,경기도,계약확정,0,없음,여자,5.0,롯데카드
88,89,66758843,렌탈,프로모션계약,전문매장Z,2020-05-27,60,CMS,DES-1,96900,개인,73.0,경기도,경기도,계약확정,0,없음,남자,4.0,농협회원조합
89,90,66758546,렌탈,프로모션계약,홈쇼핑/방송,2020-08-06,60,카드이체,DES-1,96900,개인,77.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,신한카드
90,91,66369912,렌탈,프로모션계약,영업방판,2019-01-05,60,CMS,DES-1,111900,개인,35.0,서울특별시,서울특별시,계약확정,0,없음,여자,4.0,우리은행
91,92,66758588,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-1,105900,개인,83.0,서울특별시,서울특별시,계약확정,0,없음,남자,3.0,농협회원조합
92,93,66643114,렌탈,프로모션계약,영업방판,2019-09-10,60,CMS,DES-2,90900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,7.0,농협중앙회
93,94,66879582,렌탈,프로모션계약,대형마트H,2020-06-18,60,CMS,DES-1,96900,개인,52.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,신한은행
94,95,66758611,렌탈,일반계약,홈쇼핑/방송,2019-01-20,60,카드이체,DES-1,96900,개인,60.0,서울특별시,서울특별시,계약확정,0,없음,남자,1.0,신한카드
95,96,25751808,렌탈,프로모션계약,영업방판,2019-01-01,60,CMS,DES-3A,90900,사업자,NaN,경기도,경기도,계약확정,15,있음,여자,NaN,기업은행
96,97,66758771,렌탈,일반계약,영업방판,2019-10-23,60,CMS,DES-1,96900,개인,49.0,경기도,경기도,계약확정,0,없음,남자,1.0,농협회원조합
97,98,66677887,렌탈,프로모션계약,영업방판,2019-04-14,60,카드이체,DES-1,96900,개인,52.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
98,99,66758748,렌탈,프로모션계약,전문매장H,2019-04-14,60,카드이체,DES-1,96900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,3.0,삼성카드
99,100,66423756,멤버십,멤버십3유형,재계약,2019-01-01,12,CMS,DES-1,75900,개인,32.0,전라도,광주광역시,계약확정,0,없음,남자,NaN,하나은행

In [67]:
# 상위 150개의 데이터를 뽑아서 result1.csv 파일로 저장
# to_csv() : csv 파일 형식으로 데이터를 저장
df1.head(150).to_csv('result1.csv', encoding = 'cp949')
# 엑셀로 저장할 경우 df1.head(150).to_excel('result.xlsx')
# df1 데이터에서, 먼저 150개의 데이터를 추출한 뒤, result1.csv 파일로 저장된 순서
# encoding = 'cp949' : 한글이나 특수 기호 깨짐 현상을 방지하기 위한 인코더

- CSV : Comma Separated Values 콤마로 구분된 데이터를 정리한 파일
    - 정형데이터의 구조를 가지고 있지 않음
- Excel
    - 정형데이터의 구조(index-column-value)를 가진 상태에서 파일을 저장

In [68]:
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [69]:
# 열단위 추출
df1['Amount_Month'] # 하나의 열 데이터를 추출
# Series(순열) 구조

0         96900
1        102900
2         96900
3         66900
4         66900
          ...
51296     96900
51297     96900
51298    120900
51299     96900
51300     96900
Name: Amount_Month, Length: 51301, dtype: int64

In [70]:
df1['Amount_Month'].mean() # 하나의 열의 평균값을 계산

93994.97428900021

In [71]:
# DataFrame 구조 : Index - Column - Value
# Series가 여러 줄 모이면 하나의 DataFrame이 구성된다.
# 여러 열을 추출할 떄 DataFrame 형태로 데이터를 추출
df1[['Amount_Month', 'Channel', 'Sales_Type']]

       Amount_Month Channel Sales_Type
0             96900    영업방판         렌탈
1            102900    영업방판         렌탈
2             96900  홈쇼핑/방송         렌탈
3             66900     재계약        멤버십
4             66900     재계약        멤버십
...             ...     ...        ...
51296         96900   대형마트A         렌탈
51297         96900   대형마트A         렌탈
51298        120900    영업방판         렌탈
51299         96900  홈쇼핑/방송         렌탈
51300         96900  홈쇼핑/방송         렌탈

[51301 rows x 3 columns]

In [72]:
df1[['Amount_Month', 'Channel']].head(10)

   Amount_Month Channel
0         96900    영업방판
1        102900    영업방판
2         96900  홈쇼핑/방송
3         66900     재계약
4         66900     재계약
5         90900    영업방판
6         98400  홈쇼핑/방송
7         80400  홈쇼핑/방송
8        102900    영업방판
9        105900    영업방판

In [73]:
# 데이터 정렬
df1.sort_values(by = 'Amount_Month') # 오름차순 정렬

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
35768,35770,66784964,멤버십,멤버십2유형,전문매장H,2019-02-07,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
43022,43024,66792946,멤버십,멤버십2유형,전문매장H,2020-06-30,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
49993,49995,66796388,멤버십,멤버십2유형,전문매장H,2020-03-25,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
45246,45248,66793779,멤버십,멤버십2유형,전문매장H,2019-07-16,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회

In [74]:
df1.sort_values(by = 'Amount_Month', ascending = False) # 내림차순 정렬

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
19773,19775,25740247,렌탈,프로모션계약,전단홍보,2019-11-14,39,가상계좌,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
28147,28149,25704137,렌탈,프로모션계약,전단홍보,2019-07-25,39,CMS,MMC,215700,사업자,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,국민은행
19413,19415,25710320,렌탈,프로모션계약,영업방판,2020-01-29,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
19412,19414,25710321,렌탈,프로모션계약,영업방판,2019-09-15,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45304,45306,66793756,멤버십,멤버십2유형,전문매장H,2019-10-07,36,무통장,DES-1,54603,개인,NaN,충청도,충청도,계약확정,0,없음,여자,NaN,NaN
50428,50430,66797402,멤버십,멤버십2유형,전문매장H,2019-12-27,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
45302,45304,66793342,멤버십,멤버십2유형,전문매장H,2019-04-03,36,무통장,DES-1,54603,개인,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
41153,41155,66790864,멤버십,멤버십2유형,전문매장H,2019-02-16,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
39373,39375,66788207,멤버십,멤버십2유형,전문매장H,2020-05-11,36,무통장,DES-1,54603,개인,NaN,제주도,제주도,계약확정,0,없음,여자,NaN,NaN

In [75]:
# 월렌탈비용['Amount_Month']이 높으면서, 연령('Age')이 높은 순서대로 정렬
df1.sort_values(by = ['Amount_Month', 'Age'], ascending = False)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
38497,38499,25734005,렌탈,프로모션계약,영업방판,2019-06-05,39,CMS,MMC,215700,사업자,58.0,전라도,전라도,계약확정,0,없음,남자,1.0,농협중앙회
44838,44840,25732681,렌탈,프로모션계약,영업방판,2020-04-12,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44839,44841,25732681,렌탈,프로모션계약,영업방판,2020-04-18,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
44840,44842,25732681,렌탈,프로모션계약,영업방판,2020-06-01,39,CMS,MMC,215700,사업자,51.0,경상도,경상도,계약확정,2,있음,여자,NaN,우체국
5399,5400,25742182,렌탈,프로모션계약,영업방판,2019-05-18,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,1,있음,여자,NaN,신한은행
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51210,51212,66799109,멤버십,멤버십2유형,전문매장H,2019-09-04,36,무통장,DES-1,54603,개인,NaN,경상도,부산광역시,계약확정,0,없음,여자,NaN,NaN
51277,51279,66799700,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
51280,51282,66799156,멤버십,멤버십2유형,전문매장H,2019-03-10,36,무통장,DES-1,54603,개인,NaN,전라도,광주광역시,계약확정,0,없음,여자,NaN,NaN
51284,51286,66799094,멤버십,멤버십2유형,전문매장H,2019-02-24,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
51290,51292,66798812,멤버십,멤버십2유형,전문매장H,2020-01-28,36,무통장,DES-1,54603,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [76]:
df1.sort_values(by = ['Amount_Month', 'Age'], ascending = [True, False])

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
33107,33109,66783626,멤버십,멤버십2유형,전문매장H,2019-12-19,36,무통장,DES-1,54603,개인,NaN,경상도,경상도,계약확정,0,없음,여자,NaN,NaN
33803,33805,66783630,멤버십,멤버십2유형,전문매장H,2020-07-28,36,무통장,DES-1,54603,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,NaN,NaN
33844,33846,66783744,멤버십,멤버십2유형,전문매장H,2019-03-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34129,34131,66783985,멤버십,멤버십2유형,전문매장H,2020-01-22,36,무통장,DES-1,54603,개인,NaN,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,NaN
34311,34313,66783750,멤버십,멤버십2유형,전문매장H,2019-02-21,36,무통장,DES-1,54603,개인,NaN,경상도,대구광역시,계약확정,0,없음,여자,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35084,35086,25867372,렌탈,프로모션계약,영업방판,2019-05-01,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
35085,35087,25867372,렌탈,프로모션계약,영업방판,2019-02-07,39,가상계좌,MMC,215700,사업자,NaN,강원도,강원도,계약확정,0,없음,여자,NaN,NaN
37522,37524,25733781,렌탈,프로모션계약,영업방판,2020-07-02,39,CMS,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
49896,49898,25731710,렌탈,프로모션계약,영업방판,2019-09-30,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
49897,49899,25731710,렌탈,프로모션계약,영업방판,2019-12-06,39,가상계좌,MMC,215700,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN

In [77]:
# 월렌탈비용이 높고 연체건수['Overdue_count']는 낮은
# 상위 50명의 고객 계약 명단을 추출해서, result2.xlsx
df1.sort_values(by = ['Amount_Month', 'Overdue_count'],
                ascending = [False, True]).head(50).to_excel('result2.xlsx')

In [78]:
# 데이터 필터 (Filter) / loc[(조건식)] : 특정 조건(True)에 해당하는 데이터를 추출
# 층별화 : 범주형 데이터 항목의 특성에 따라 다른 데이터의 통계적 특성이 달라질 수 있다.

# 월렌탈비용이 10만원 이상인 고객들
cond1 = (df1['Amount_Month'] >= 100000) # 월렌탈비용이 10만원 이상인 조건
df1.loc[cond1]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51291,51293,25731743,렌탈,일반계약,영업방판,2020-02-12,60,CMS,DES-3A,102900,사업자,NaN,경기도,경기도,계약확정,10,있음,여자,NaN,농협중앙회
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

In [79]:
# 월렌탈비용이 10만원 이상이면서, 연체건수가 5회 이하인 고객명단을 추출
cond1 = (df1['Amount_Month'] >= 100000)
cond2 = (df1['Overdue_count'] <= 5)
df1.loc[cond1 & cond2] # 두 조건을 모두 만족하는 경우

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51279,51281,66798237,렌탈,패키지계약,직영계열사A,2019-03-09,60,CMS,DES-3A,101400,개인,NaN,경기도,인천광역시,계약확정,0,없음,여자,4.0,국민은행
51286,51288,66799302,렌탈,프로모션계약,영업방판,2019-05-21,60,카드이체,DES-1,105900,개인,39.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51287,51289,66444051,렌탈,교체계약,대형마트A,2019-09-29,60,CMS,DES-1,102900,개인,90.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,신한은행
51288,51290,66799492,렌탈,프로모션계약,영업방판,2019-02-24,60,카드이체,DES-1,105900,개인,52.0,경기도,경기도,계약확정,0,없음,남자,NaN,삼성카드
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드

In [80]:
df1.loc[cond1 | cond2] # 두 조건 중 하나의 조건만 만족해도 데이터를 불러옴

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [81]:
# 판매유형(Sales_Type)이 '렌탈'에 해당하는 데이터만 추출
cond1 = (df1['Sales_Type'] == '렌탈')
df1.loc[cond1]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [82]:
# 유입경로(Channel)가 '영업방판', '홈쇼핑/방송', '대형마트A'
# 여러 항목에 대해 데이터를 추출
cond1 = (df1['Channel'] == '영업방판')
cond2 = (df1['Channel'] == '홈쇼핑/방송')
cond3 = (df1['Channel'] == '대형마트A')
df1.loc[cond1 | cond2 | cond3]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [83]:
# isin() : 특정 리스트 내의 데이터가 있다면 True, 없다면 False
cond1 = (df1['Channel'].isin(['영업방판', '홈쇼핑/방송', '대형마트A']))
df1.loc[cond1]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [84]:
# 결제은행('Bank')이 '현대카드'에 해당하는 계약 명단 중,
# 월렌탈비용이 150,000원 이상인 상위 50명의 계약 명단을 추출하여 result3.xlsx 저장
cond1 = (df1['Bank'] == '현대카드')
cond2 = (df1['Amount_Month'] >= 150000)
df1.loc[cond1 & cond2].head(50).to_excel('result3.xlsx')

In [85]:
# 데이터 요약 (Pivot)
# 판매유형(Sales_Type) 별 월렌탈비용(Amount_Month)의 평균을 계산
df1.pivot_table(index = 'Sales_Type', values = 'Amount_Month', aggfunc = 'mean')
# index = '구분하고자 하는 값'
# values = '계산하고자 하는 값'
# aggfunc = '계산하려는 통계량'

            Amount_Month
Sales_Type
렌탈          97199.625024
멤버십         63077.211706

In [86]:
# 함수 내 인자 및 함수 설명
help(pd.pivot_table)

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data: 'DataFrame', values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins: 'bool' = False, dropna: 'bool' = True, margins_name: 'Hashable' = 'All', observed: 'bool | lib.NoDefault' = <no_default>, sort: 'bool' = True) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : list-like or scalar, optional
        Column or columns to aggregate.
    index : column, Grouper, array, or list of the previous
        Keys to group by on the pivot table index. If a list is passed,
        it can contain any of the other types (except list). If an array is
        passed, it must be the same length as the data and will be used in
        the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        Keys to group by on the pivot table column. If a list is passed,
        it can contain any of the other types (except list). If an array is
        passed, it must be the same length as the data and will be used in
        the same manner as column values.
    aggfunc : function, list of functions, dict, default "mean"
        If a list of functions is passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves).
        If a dict is passed, the key is column to aggregate and the value is
        function or list of functions. If ``margin=True``, aggfunc will be
        used to calculate the partial aggregates.
    fill_value : scalar, default None
        Value to replace missing values with (in the resulting pivot table,
        after aggregation).
    margins : bool, default False
        If ``margins=True``, special ``All`` columns and rows
        will be added with partial group aggregates across the categories
        on the rows and columns.
    dropna : bool, default True
        Do not include columns whose entries are all NaN. If True,
        rows with a NaN value in any column will be omitted before
        computing margins.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. deprecated:: 2.2.0

            The default value of ``False`` is deprecated and will change to
            ``True`` in a future version of pandas.

    sort : bool, default True
        Specifies if the result should be sorted.

        .. versionadded:: 1.3.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.
    DataFrame.melt: Unpivot a DataFrame from wide to long format,
        optionally leaving identifiers set.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Notes
    -----
    Reference :ref:`the user guide <reshaping.pivot>` for more examples.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                        columns=['C'], aggfunc="sum")
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                        columns=['C'], aggfunc="sum", fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                        aggfunc={'D': "mean", 'E': "mean"})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                        aggfunc={'D': "mean",
    ...                                 'E': ["min", "max", "mean"]})
    >>> table
                      D   E
                   mean max      mean  min
    A   C
    bar large  5.500000   9  7.500000    6
        small  5.500000   9  8.500000    8
    foo large  2.000000   5  4.500000    4
        small  2.333333   6  4.333333    2

# 데이터 기술 통계량 확인

- 연속형 : 대푯값 (평균/중앙값) / 산포 (표준편차)
- 범주형 : 항목 빈도수

In [87]:
df1['Amount_Month'].mean() # 평균

93994.97428900021

In [88]:
df1['Amount_Month'].median() # 중앙값

96900.0

In [92]:
df1['Amount_Month'].std() # 표준편차

15304.263988475595

In [94]:
df1['Amount_Month'].max() # 최댓값

215700

In [95]:
df1['Amount_Month'].min() # 최솟값

54603

In [100]:
df1.describe() # 해당 데이터의 모든 숫자 데이터의 요약통계량 확인

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,51301.000000,5.130100e+04,51301.000000,51301.000000,44329.000000,51301.000000,42520.000000
mean,25651.703612,6.266432e+07,55.639149,93994.974289,50.024093,0.161381,3.428810
std,14809.828628,1.216146e+07,12.009915,15304.263988,10.983877,1.122193,2.213453
min,1.000000,2.568798e+07,12.000000,54603.000000,25.000000,0.000000,0.000000
25%,12826.000000,6.643148e+07,60.000000,81900.000000,42.000000,0.000000,1.000000
50%,25652.000000,6.676578e+07,60.000000,96900.000000,49.000000,0.000000,3.000000
75%,38477.000000,6.678160e+07,60.000000,98400.000000,57.000000,0.000000,5.000000
max,51302.000000,6.696986e+07,60.000000,215700.000000,102.000000,15.000000,10.000000

In [101]:
# 요약통계량 표를 엑셀로 저장
df1.describe().to_excel('describe_result.xlsx')

In [103]:
# 문자 데이터 항목 확인
df1['Channel'].unique()

array(['영업방판', '홈쇼핑/방송', '재계약', '전문매장H', '전문매장Z', '대형마트H', '대형마트E',
       '홈쇼핑/인터넷', '전단홍보', '직영유통사', '대형마트A', '대형마트N', '대형마트C', '직영계열사B',
       '자체홈페이지', '직영계열사A'], dtype=object)

In [104]:
# 문자 데이터 빈도수 확인
df1['Channel'].value_counts()

Channel
영업방판       23767
홈쇼핑/방송     12977
대형마트A       4725
전문매장H       3227
재계약         2193
대형마트E       1497
전문매장Z       1206
전단홍보         560
홈쇼핑/인터넷      375
대형마트H        225
직영유통사        188
자체홈페이지       120
대형마트C        119
대형마트N         83
직영계열사A        20
직영계열사B        19
Name: count, dtype: int64

In [109]:
# 문자 데이터('Object')의 요약 통계치 확인
df1.describe(include = 'object')
# unique : 항목 수 / top : 최빈값, 가장 빈도수가 높은 항목 / freq : 최빈값의 계수

,Sales_Type,Contract_Type,Channel,Datetime,Payment_Type,Product_Type,Customer_Type,Address1,Address2,State,Overdue_Type,Gender,Bank
count,51301,51301,51301,51301,51301,51301,51299,51299,51299,51301,51301,51301,48542
unique,2,9,16,577,5,6,2,8,14,4,2,2,47
top,렌탈,프로모션계약,영업방판,2019-01-31,CMS,DES-1,개인,경기도,경기도,계약확정,없음,여자,롯데카드
freq,46483,15811,23767,1167,32825,39133,46263,18353,14883,50620,49110,35602,9516

In [111]:
# 문자 / 숫자 요약통계량 확인
df1.describe(include = 'all')

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
count,51301.000000,5.130100e+04,51301,51301,51301,51301,51301.000000,51301,51301,51301.000000,51299,44329.000000,51299,51299,51301,51301.000000,51301,51301,42520.000000,48542
unique,NaN,NaN,2,9,16,577,NaN,5,6,NaN,2,NaN,8,14,4,NaN,2,2,NaN,47
top,NaN,NaN,렌탈,프로모션계약,영업방판,2019-01-31,NaN,CMS,DES-1,NaN,개인,NaN,경기도,경기도,계약확정,NaN,없음,여자,NaN,롯데카드
freq,NaN,NaN,46483,15811,23767,1167,NaN,32825,39133,NaN,46263,NaN,18353,14883,50620,NaN,49110,35602,NaN,9516
mean,25651.703612,6.266432e+07,NaN,NaN,NaN,NaN,55.639149,NaN,NaN,93994.974289,NaN,50.024093,NaN,NaN,NaN,0.161381,NaN,NaN,3.428810,NaN
std,14809.828628,1.216146e+07,NaN,NaN,NaN,NaN,12.009915,NaN,NaN,15304.263988,NaN,10.983877,NaN,NaN,NaN,1.122193,NaN,NaN,2.213453,NaN
min,1.000000,2.568798e+07,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,54603.000000,NaN,25.000000,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN
25%,12826.000000,6.643148e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,81900.000000,NaN,42.000000,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,NaN
50%,25652.000000,6.676578e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,96900.000000,NaN,49.000000,NaN,NaN,NaN,0.000000,NaN,NaN,3.000000,NaN
75%,38477.000000,6.678160e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,98400.000000,NaN,57.000000,NaN,NaN,NaN,0.000000,NaN,NaN,5.000000,NaN
max,51302.000000,6.696986e+07,NaN,NaN,NaN,NaN,60.000000,NaN,NaN,215700.000000,NaN,102.000000,NaN,NaN,NaN,15.000000,NaN,NaN,10.000000,NaN

In [112]:
df1.describe(include = 'all').to_excel('describe_all.xlsx')

- 데이터 층별화

In [116]:
# 제품군('Product_Type') 별 월렌탈비용(Amount_Month)의 평균을 확인
df1.pivot_table(index = 'Product_Type', values = 'Amount_Month', aggfunc = 'mean')

               Amount_Month
Product_Type
DES-1          94424.545166
DES-2          87556.390618
DES-3A         94706.900529
DES-R4        129444.954128
ERA           119744.720497
MMC           189450.000000

In [117]:
# 제품군('Product_Type') 별 월렌탈비용(Amount_Month)의 평균과 합을 확인
df1.pivot_table(index = 'Product_Type', values = 'Amount_Month', aggfunc = ['mean', 'sum'])

                       mean          sum
               Amount_Month Amount_Month
Product_Type
DES-1          94424.545166   3695115726
DES-2          87556.390618    787657290
DES-3A         94706.900529    197085060
DES-R4        129444.954128     42328500
ERA           119744.720497     77115600
MMC           189450.000000     22734000

In [118]:
# 제품군('Product_Type') 별 월렌탈비용(Amount_Month)과 계약기간(Term)의 평균을 확인
df1.pivot_table(index = 'Product_Type', values = ['Amount_Month', 'Term'], aggfunc = 'mean')

               Amount_Month       Term
Product_Type
DES-1          94424.545166  55.408274
DES-2          87556.390618  57.014673
DES-3A         94706.900529  59.619414
DES-R4        129444.954128  58.972477
ERA           119744.720497  39.000000
MMC           189450.000000  39.000000

In [119]:
# 제품군('Product_Type')과 계약유형(Sales_Type) 별 월렌탈비용(Amount_Month)과 계약기간(Term)의 평균을 확인
df1.pivot_table(index = ['Product_Type', 'Sales_Type'], values = ['Amount_Month', 'Term'], aggfunc = 'mean')

                          Amount_Month       Term
Product_Type Sales_Type
DES-1        렌탈           98694.923613  59.838978
             멤버십          63161.706570  22.971720
DES-2        렌탈           87901.899247  57.503655
             멤버십          57725.242718  14.796117
DES-3A       렌탈           94752.196532  59.676301
             멤버십          75900.000000  36.000000
DES-R4       렌탈          130616.250000  60.000000
             멤버십          75900.000000  12.000000
ERA          렌탈          119744.720497  39.000000
MMC          렌탈          189450.000000  39.000000

In [126]:
df1.pivot_table(index = 'Product_Type', values = 'Amount_Month',
                aggfunc = 'sum', columns = 'Sales_Type', fill_value = 0)
# fill_value = Pivot table 계산을 통해 발생한 결측값에 원하는 값을 입력

Sales_Type            렌탈        멤버십
Product_Type
DES-1         3398066220  297049506
DES-2          781711590    5945700
DES-3A         196705560     379500
DES-R4          41797200     531300
ERA             77115600          0
MMC             22734000          0